<div class="search">
    <div class="logo">
      <a class="logo" href="index.html">
        <img
          src="assets/tiendamia-logo.svg"
          width="218"
          alt="Logo store"
        />
      </a>
    </div>
    <div class="form">
      <form>
        <input id="search" type="text" placeholder="Search" />
      </form>
    </div>
    <div class="social">
      <ul>
        <li><img src="assets/facebook.png" alt="facebook" /></li>
        <li><img src="assets/instagram.png" alt="instagram" /></li>
        <li class="isOnline">
          <a href="cart.html" style="font-size: 20px; color: white">
            <i class="fa-solid fa-cart-shopping"></i
          ></a>
        </li>
        <li class="isOffline">
          <a href="#" id="logOn" style="font-size: 20px; color: white">
            <i class="fa-solid fa-circle-user"></i
          ></a>
        </li>
        <li class="isOnline">
          <a href="#" id="logOff" style="font-size: 20px; color: white">
            <i class="fa-solid fa-user-check"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav">
    <ul id="nav"></ul>
  </div>