* {
    text-decoration: none;
}

html,
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    /* border: 1px solid red; */
    /* height: 152px; */
    height: 122px;
    background-color: #ff3b3c;
    padding: 30px 10%;
}

/* header search */
.search {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.search .form {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.search .form input {
    height: 62px;
    border-radius: 14px;
    border: none;
    width: 505px;
    padding: 20px;
    box-sizing: border-box;
}

.search .social ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search .social ul li {
    padding: 0 10px;
}

/* HEADER NAV */
.nav {
    padding: 30px 0 0 0;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li a {
    color: white;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
}

/* nuevos */
.nav ul a {
    color: white;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}

.nav ul a:hover {
    text-decoration: underline;
}

section {
    /* border: 1px solid purple; */
    height: 340px;
}

main {
    /* border: 1px solid blue; */
    height: auto;
} 
.container { 
    width: 100%;
    margin: 0 auto; 
    height: inherit;
    min-height: inherit; 
    max-width: 1440px;
}
main .columns-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 50px;
    margin-top: 30px;
}

/*CARDS*/
.product-container {
    display: grid;
    /* flex-flow: row wrap;
    justify-content: space-around; */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 40px;
}

.product-card {
    background-color: #f0f0f0;
    border-radius: 14px;
    width: auto;
    /* max-width: 25%; */
    /* min-width: 250px; */
    overflow: hidden;
}

.product-card a {
    color: initial;
    text-decoration: none;
}

.product-info {
    padding: 20px;
    box-sizing: border-box;
}

.product-title {
    font-size: 22px;
    font-weight: 700;
    word-wrap: break-word;
    display: block;
    line-height: 22px;
}

.product-description {
    font-size: 14px;
    font-weight: 400;
    color: steelblue;
    margin-bottom: 6px;
}

.product-tax-policy {
    font-size: 10px;
    font-weight: 400;
}

.product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}

.product-price-block {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.product-price-block .price {
    font-size: 22px;
    font-weight: 700;
    flex: 1;
}

.product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: #428f13;
}

#hero {
    /* border: 1px solid purple;
    height: 340px;     */
    background-image: url("assets/hero_bg.png");
    background-size: cover;
    background-position: top center;
}

#hero .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title-container span {
    display: block;
    color: white;
    font-weight: 700;
    padding: 0 10%;
    /* font-family: "Comic nue", cursive;  */
}

.title-container span:first-child {
    font-size: 40px;
}

.title-container span:last-child {
    font-size: 100px;
    line-height: 80px;
}

/* FOOTER */
footer {
    /* min-height: 368px; */
    background-color: #7525a7;
}

footer .container {
    display: flex;
    flex-direction: column;
}

footer .columns-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 50px;
    margin-top: 30px;
}

.columns-container .col ul {
    list-style-type: none;
    padding: 0;
}

.columns-container .col ul li {
    padding: 5px 0;
}

.columns-container .col ul li.col-main-item {
    font-weight: bold;
    padding-bottom: 15px;
}

.columns-container .col ul li a {
    color: white;
    text-decoration: none;
}

.copyright {
    border-top: 1px solid #ba53fb;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 30px 0;
    box-sizing: border-box;
}

/* footer menu  */
#menu-footer {
    /* background-color: #942acd; */
    background-color: #7525a7;
    /* display: grid; */
    /* grid-template-columns: 5; */
}


.product-container-cart{
    width: 100%;
    display: inline-flex;
    padding: 40px;
    gap: 30px;    
    /* align-items: center; */
}
.container-items{
    width: 60%;
    display: inherit;
    background-color: #ebebeb;
    padding: 50px;
    flex-direction: column;
}
.product-card-cart{
    /* width: 60%;
    display: inherit;
    background-color: #ebebeb;
    border-radius: 20px;
    padding: 50px; */
    width: 100%; 
    display: inherit;
    margin: 25px 0;
}
.product-total-cart{
    width: 39%;
    background-color: #ebebeb;
    border-radius: 20px;
}
.product-info-cart{
    width: 100%;
    margin-left: 20px;
}
.product-img-cart {
    /* width: 100%; */
    height: 150px;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}
.product-cantidad{
    width: 50px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.checkout-container {
    /* background-color: #ebebeb;  */
    padding: 33px; 
    /* border-radius: 2px;  */
} 
.checkout-total-label,.checkout-total-price {
    font-size: 28px; 
    font-weight: 700; 
    margin-top: 10px; 
}
.btn-primary {
    width: 100%;
    background: #ff3b3c;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
}

/* VISTA DE TABLET */

@media (max-width: 768px) {
    header {
        padding: 30px 5%;
    }

    #hero {
        background-size: cover;
        background-position: top center;
        height: 220px;
    }

    .title-container span {
        padding: 0 10%;
    }

    .title-container span:first-child {
        font-size: 30px;
    }

    .title-container span:last-child {
        font-size: 80px;
    }

    .search .logo img {
        width: 170px;
    }

    .search .form input {
        width: 300px;
    }

    .container {
        width: 100%;
    }
    footer .container {
        width: 500px;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media (max-width: 425px) {
    header {
        padding: 30px 5%;
    }

    .search .logo img {
        width: 130px;
    }

    .search .form input {
        margin-left: 15px;
        width: 130px;
    }

    .title-container span:first-child {
        font-size: 30px;
    }

    .title-container span:last-child {
        font-size: 70px;
    }

    .container {
        width: 100%;
    }

    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
  
    footer .container {
        width: 230px;
    }
}